<!-- This page is the main page of My Pantry Saver. User can view their weekly recipes here. -->
{% extends 'base.html' %}
{% load static %}
{% block content %}
    <section id="welcomePage" class="containerControl">
        <div class="container " id="screenBg">
            <div class="homepageBody homepageBodyReducePadding text-center">
                <div class="homeText">
                    <img src={% static "images/logoSingle.png" %} alt="logoSingle" class="img-fluid homeLogo">
                    <h3 class="homeBannerTitle text-center pt-4 black">Hello {{ request.user }}, Let’s cook!</h3>
                    <!-- --------------- Calender -------- -->
                    <div class="calender px-5 pt-3">
                   <div class="row">
                    </div>
                        <div class="row">
                            <div class="col dateDay" id="mons" style="background-color:#DDF9D9;">
                                <a href="#" class="day" id="Mons">Mon</a>
                            </div>
                            <div class="col dateDay" id="tues">
                                <a href="#" class="day" id="Tues">Tue</a>
                            </div>
                            <div class="col dateDay" id="weds">
                                <a href="#" class="day" id="Weds">Wed</a>
                            </div>
                            <div class="col dateDay" id="thus">
                                <a href="#" class="day" id="Thus">Thu</a>
                            </div>
                            <div class="col dateDay" id="fris">
                                <a href="#" class="day" id="Fris">Fri</a>
                            </div>
                            <div class="col dateDay" id="sats">
                                <a href="#" class="day" id="Sats">Sat</a>
                            </div>
                            <div class="col dateDay" id="suns">
                                <a href="#" class="day" id="Suns">Sun</a>
                            </div>
                        </div>
                    </div>
                    <!-- ------------------ DynamicSlider ------------------- -->
                    {% for d in days %}
                    
                    {% if d == 'MONDAY' %}
                    <div class="dynamicDiv dynamicDivFoodControl text-center px-5 pt-3" id="div-{{d}}">
                    {% else %}
                    <div class="dynamicDiv dynamicDivFoodControl text-center px-5 pt-3" id="div-{{d}}" style="display:none;">
                    {% endif %}
                        <ul class="nav nav-pills mb-3 mr-auto" id="pills-tab-{{d}}" role="tablist">
                       
                            <li class="nav-item">
                                <a class="nav-link active" id="pills-home-tab-{{d}}-BREAKFAST" data-toggle="pill" href="#pills-home-{{d}}-BREAKFAST"
                                    role="tab" aria-controls="pills-home" aria-selected="true" style="display:inline;">Breakfast</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" id="pills-home-tab-{{d}}-LUNCH" data-toggle="pill" href="#pills-home-{{d}}-LUNCH"
                                    role="tab" aria-controls="pills-profile" aria-selected="false" style="display:inline;">Lunch</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" id="pills-home-tab-{{d}}-DINNER" data-toggle="pill" href="#pills-home-{{d}}-DINNER"
                                    role="tab" aria-controls="pills-contact" aria-selected="false" style="display:inline;">Dinner</a>
                            </li>
                        </ul>
                        {% if d != 'MONDAY' %}
                        <div class="tab-content tabContentFood" id="{{d}}" style="display:none;">
                        {% else %}
                        <div class="tab-content tabContentFood" id="{{d}}">
                        {% endif %}
                            {% if recipes.count > 0 %}
                            {% for m in meals %}
                            {% if m == 'BREAKFAST' %}
                            <div class="tab-pane fade show active francyFoodCardControll" id="pills-home-{{d}}-{{m}}" role="tabpanel"
                                aria-labelledby="pills-home-tab-{{d}}-{{m}}">
                            {% else %}
                            <div class="tab-pane fadefrancyFoodCardControll" id="pills-home-{{d}}-{{m}}" role="tabpanel"
                                aria-labelledby="pills-home-tab-{{d}}-{{m}}">
                            {% endif %}
                                {% for item in recipes %}
                                {% if item.day == d%}
                                {%if item.meal == m %}
                                <div class="card mb-3 foodCard pt-4 {{d}}" id="pills-home-tab-{{d}}-{{m}}">
                                
                                    <div class="row no-gutters">
                                        <div class="col-md-4 p-3">
                                            {% if item.recipe.name == "French Toast" %}
                                            <img src={% static "images/toast.png" %} class="card-img" alt="food">
                                            {% elif item.recipe.name == "Spinach Pancakes" %}
                                            <img src={% static "images/spinach_pancake.png" %} class="card-img" alt="food">
                                            {% elif item.recipe.name == "Breakfast Quesadillas" %}
                                            <img src={% static "images/quesadillas.png" %} class="card-img" alt="food">
                                            {% elif item.recipe.name == "Grilled Salmon" %}
                                            <img src={% static "images/salmon.png" %} class="card-img" alt="food">
                                            {% elif item.recipe.name == "Vegie Supreme Sandwich" %}
                                            <img src={% static "images/sandwich.png" %} class="card-img" alt="food">
                                            {% elif item.recipe.name == "Cheese and Bacon Frittata" %}
                                            <img src={% static "images/bacon_fritatta.png" %} class="card-img" alt="food">
                                            {% elif item.recipe.name == "Pumpkin Soup" %}
                                            <img src={% static "images/pumpkin_soup.png" %} class="card-img" alt="food">
                                            {% elif item.recipe.name == "Fried Rice" %}
                                            <img src={% static "images/fried_rice.png" %} class="card-img" alt="food">
                                            {% elif item.recipe.name == "Tomato and Celery Pasta" %}
                                            <img src={% static "images/pasta.png" %} class="card-img" alt="food">
                                            {% endif %}
                                        </div>
                                        <div class="col-md-8 ">
                                            <div class="card-body text-left">
                                                
                                                <div class="titleAndBtn actionDot d-flex justify-content-between">
                                                    <h5 class="card-title">{{item.recipe}}</h5>

                                                    <!-- ------------- Dropdown Menu ---------- -->
                                                    <div class="dropdown-menu text-center"
                                                        aria-labelledby="dropdownMenuLink">
                                                        <a class="dropdown-item" href="{% url 'user-edit-recipe' item.id %}">Replace</a>
                                                        <div class="dropdown-divider"></div>
                                                        <a class="dropdown-item" href="{% url 'user-delete-recipe' item.id %}">Delete</a>
                                                    </div>

                                                    <!-- ----------- Action Menu Btn---------- -->
                                                    <img src={% static "images/threeDot.png" %} alt="threeDot"
                                                        class="img-fluid dropdown-toggle" role="button"
                                                        id="dropdownMenuLink" data-toggle="dropdown"
                                                        aria-haspopup="true" aria-expanded="false" style="height: 2rem">

                                                </div>
                                                <div class="timeAndBtn d-flex justify-content-between mt-3">
                                                    <p class="card-text mt-4"><img src={% static "images/clock.png" %} alt="clock"
                                                            class="img-fluid"> {{item.recipe.time}} min</p>
                                                    <a href={% url 'user-view-recipe' item.id %}>
                                                        <button class="btn btn-sm text-light" style="font-size: 1.5rem;
                                                    padding: 1rem 3rem;
                                                    border-radius: 1rem;
                                                    background: #F7B4FF;
                                                    ">Start</button>
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                {% endif %}
                                {% endif %}
                                {% endfor %}
                            </div>
                            {% endfor %}
                            {% else %}
                            <div class="tab-content" id="pills-tabContent">
                                <div class="tab-pane d-flex justify-content-center align-items-center fade show active"
                                    id="pills-home-{{d}}" role="tabpanel" aria-labelledby="pills-home-tab">
                                    <span style="margin-top: 8rem;"> No recipes selected </span>
                                </div>
                            </div>
                            {% endif %}
                        </div>
                    </div>
                    {% endfor %}
                    <div class="form-inline searchBar pt-4 px-5">
                        <a href="{% url 'user-add-recipe' %}">
                            <button type="submit" class="btn"><img src={% static "images/plus.png" %} alt="" class="img-fluid">
                                Add</button>
                        </a>
                    </div>
                    <!-- ------------------------- Bootom Navigation -------------- -->
                    {% include 'bottom_nav.html' %}
                </div>
            </div>
        </div>
    </section>

    <script>
    $(document).ready(function(){
        var type = ['all', 'fridge', 'freezer', 'pantry'];
        var types = ['allIngredients', 'fridgeIngredients', 'freezerIngredients', 'pantryIngredients'];
        var ds = ["Mons", "Tues", "Weds", "Thus", "Fris", "Sats", "Suns"];
        var dsDiv = ["mons", "tues", "weds", "thus", "fris", "sats", "suns"];
        var contentdays = ["MONDAY", "TUESDAY", "WEDNESDAY", "THURSDAY", "FRIDAY", "SATURDAY", "SUNDAY"];
        var mealcontent = ["pills-home-mon", "pills-home-tue", "pills-home-wed", "pills-home-thu", "pills-home-fri", "pills-home-sat", "pills-home-sun"];
        var mealtab = ["pills-home-tab-mon", "pills-home-tab-tue", "pills-home-tab-wed", "pills-home-tab-thu", "pills-home-tab-fri", "pills-home-tab-sat", "pills-home-tab-sun"];
        var breakfirst = ["pills-tab-mon", "pills-tab-tue", "pills-tab-wed", "pills-tab-thu", "pills-tab-fri", "pills-tab-sat", "pills-tab-sun"];
        var meals = ["BREAKFAST", "LUNCH", "DINNER"]
        var realmeal = []
        var divDays = ["div-MONDAY", "div-TUESDAY", "div-WEDNESDAY", "div-THURSDAY", "div-FRIDAY", "div-SATURDAY", "div-SUNDAY"];
        // one of tables will be hidden on default
        $('.place-ingredients').click(function() {
            for (let i = 0; i < type.length; i++) {
                var s = this.id+"Ingredients";
                var temp = document.getElementById(types[i]);
                if (this.id === type[i]){
                    temp.style.setProperty('display', 'block', 'important');
                } else {
                    temp.style.setProperty('display', 'none', 'important');
                }
            }
        
        });

        $('.day').click(function() {
            for (let i = 0; i < ds.length; i++) {
                var temp = document.getElementById(contentdays[i]);
                var link = document.getElementById(dsDiv[i]);
                var brea = document.getElementById(breakfirst[i]);
                var div = document.getElementById(divDays[i]);
            
                if (this.id === ds[i]){
                    temp.style.setProperty('display', 'block', 'important');
                    div.style.setProperty('display', 'block', 'important');
                    link.style.setProperty('background-color', '#DDF9D9', 'important');
                    for (let j = 0; j < meals.lenght; j++){
                        var s = mealtab[i] + meals[j];
                        $(s).show();
                    }
                } else {
                    for (let j = 0; j < meals.lenght; j++){
                    var s = mealtab[i] + meals[j];
                        $(s).hide();
                    }
                    temp.style.setProperty('display', 'none', 'important');
                    div.style.setProperty('display', 'none', 'important');
                    link.style.setProperty('background-color', '', 'important');
                }
            }
        });
    });
</script>
{% endblock content %}