<!-- This page shows lists of ingredients in the user's pantry. -->
{% extends 'base.html' %}
{% load static %}
{% block content %}
    <section id="welcomePage" class="containerControl">
        <div class="container" id="screenBg">
            <div class="homepageBody homepageBodyReducePadding text-center">
                <div class="homeText">
                    <img src={% static "images/logoSingle.png" %} alt="logoSingle" class="img-fluid homeLogo">
                    <h3 class="homeBannerTitle text-center pt-4 black">Pantry</h3>

                    <!-- --------------------- PantryMOnitor Start -------------------- -->
                    <div class="pantryMonitor px-5 pt-5">
                        <div class="d-flex justify-content-between">
                            <div class="d-flex countCtrl">
                                <a href="#" id="all" class="place-ingredients"><p>All</p></a>
                                <p class="ml- count active">{{ingredients.count}}</p>
                            </div>
                            <div class=" d-flex countCtrl">
                                <a href="#" id="fridge" class="place-ingredients"><p>Fridge</p></a>
                                <p class="ml- count">{{fridge.count}}</p>
                            </div>
                            <div class=" d-flex countCtrl">
                                <a href="#" id="freezer" class="place-ingredients"><p>Freezer</p></a>
                                <p class="ml- count">{{freezer.count}}</p>
                            </div>
                            <div class=" d-flex countCtrl">
                                <a href="#" id="pantry" class="place-ingredients"><p>Cupboard</p></a>
                                <p class="ml- count">{{pantry.count}}</p>
                            </div>

                        </div>
                    </div>
                    <!-- --------------------- PantryMonitor End ----------------- -->

                    <!-- ----------------- Search Bar ---------------- -->
                    <div class="form-inline searchBar px-5">
                        <a href="{% url 'user-add-ingredient' %}">
                            <button type="submit" class="btn"><img src={% static "images/plus.png" %} alt="" class="img-fluid">
                                Add</button>
                        </a>
                    </div>
                    <!-- ------------------------ SearchBar End---------------- -->

                    <!-- ------------------- userProductCard Start ------------------- -->

                    <div class="userProductCard pl-5 pr-4" id="allIngredients">
                        <div class="singleUserCard pr-3">
                            {% if ingredients.count > 0 %}
                            {% for item in ingredients %}
                            <div class="card">
                                <div class="card-body">
                                    <div class="row text-left">
                                        <div class="col-sm-6">
                                            <h1 class="card-title">{{item.ingredient}}</h1>
                                            <p class="card-text">Use by {{item.expiry_date}}</p>
                                        </div>
                                        <div class="col-sm-4">
                                            <h1 class="bold amountKg">{{item.quantity}} {{item.unit}}</h1>
                                        </div>
                                        <div class="col-sm-2 actionDot">
                                            <!-- ------------- Dropdown Menu ---------- -->
                                            <div class="dropdown-menu text-center" aria-labelledby="dropdownMenuLink">
                                                <a class="dropdown-item" href="{% url 'user-edit-ingredient' item.id %}">Edit</a>
                                                <div class="dropdown-divider"></div>
                                                <a class="dropdown-item" href="{% url 'user-delete-ingredient' item.id %}">Delete</a>
                                            </div>

                                            <!-- ----------- Action Menu Btn---------- -->
                                            <img src={% static "images/threeDot.png" %} alt="threeDot"
                                                class="img-fluid dropdown-toggle" role="button" id="dropdownMenuLink"
                                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            {% endfor %}
                            {% else %}
                                <h3 class="mt-5">No Ingredient Available</h3>
                            {% endif %}
                        </div>
                    </div>
                    <!-- ------------------- Fridge ------------------- -->
                    <div class="userProductCard pl-5 pr-4" id="fridgeIngredients" style="display:none;">
                    <div class="singleUserCard pr-3">
                            {% if fridge.count > 0 %}
                            {% for item in fridge %}
                            <div class="card">
                                <div class="card-body">
                                    <div class="row text-left">
                                        <div class="col-sm-6">
                                            <h1 class="card-title">{{item.ingredient}}</h1>
                                            <p class="card-text">Use by {{item.expiry_date}}</p>
                                        </div>
                                        <div class="col-sm-4">
                                            <h1 class="bold amountKg">{{item.quantity}} {{item.unit}}</h1>
                                        </div>
                                        <div class="col-sm-2 actionDot">
                                            <!-- ------------- Dropdown Menu ---------- -->
                                            <div class="dropdown-menu text-center" aria-labelledby="dropdownMenuLink">
                                                <a class="dropdown-item" href="{% url 'user-edit-ingredient' item.id %}">Edit</a>
                                                <div class="dropdown-divider"></div>
                                                <a class="dropdown-item" href="{% url 'user-delete-ingredient' item.id %}">Delete</a>
                                            </div>

                                            <!-- ----------- Action Menu Btn---------- -->
                                            <img src={% static "images/threeDot.png" %} alt="threeDot"
                                                class="img-fluid dropdown-toggle" role="button" id="dropdownMenuLink"
                                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            {% endfor %}
                            {% else %}
                                <h3 class="mt-5">No Ingredient Available</h3>
                            {% endif %}
                        </div>
                        </div>
                    <!-- ------------------- Fridge End ------------------- -->
                    <!-- ------------------- Freezer ------------------- -->
                    <div class="userProductCard pl-5 pr-4" id="freezerIngredients" style="display:none;">
                    <div class="singleUserCard pr-3">
                            {% if freezer.count > 0 %}
                            {% for item in freezer %}
                            <div class="card">
                                <div class="card-body">
                                    <div class="row text-left">
                                        <div class="col-sm-6">
                                            <h1 class="card-title">{{item.ingredient}}</h1>
                                            <p class="card-text">Use by {{item.expiry_date}}</p>
                                        </div>
                                        <div class="col-sm-4">
                                            <h1 class="bold amountKg">{{item.quantity}} {{item.unit}}</h1>
                                        </div>
                                        <div class="col-sm-2 actionDot">
                                            <!-- ------------- Dropdown Menu ---------- -->
                                            <div class="dropdown-menu text-center" aria-labelledby="dropdownMenuLink">
                                                <a class="dropdown-item" href="{% url 'user-edit-ingredient' item.id %}">Edit</a>
                                                <div class="dropdown-divider"></div>
                                                <a class="dropdown-item" href="{% url 'user-delete-ingredient' item.id %}">Delete</a>
                                            </div>

                                            <!-- ----------- Action Menu Btn---------- -->
                                            <img src={% static "images/threeDot.png" %} alt="threeDot"
                                                class="img-fluid dropdown-toggle" role="button" id="dropdownMenuLink"
                                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            {% endfor %}
                            {% else %}
                                <h3 class="mt-5">No Ingredient Available</h3>
                            {% endif %}
                        </div>
                        </div>
                    <!-- ------------------- Freezer End ------------------- -->
                    <!-- ------------------- Pantry ------------------- -->
                    <div class="userProductCard pl-5 pr-4" id="pantryIngredients" style="display:none;">
                    <div class="singleUserCard pr-3">
                            {% if pantry.count > 0 %}
                            {% for item in pantry %}
                            <div class="card">
                                <div class="card-body">
                                    <div class="row text-left">
                                        <div class="col-sm-6">
                                            <h1 class="card-title">{{item.ingredient}}</h1>
                                            <p class="card-text">Use by {{item.expiry_date}}</p>
                                        </div>
                                        <div class="col-sm-4">
                                            <h1 class="bold amountKg">{{item.quantity}} {{item.unit}}</h1>
                                        </div>
                                        <div class="col-sm-2 actionDot">
                                            <!-- ------------- Dropdown Menu ---------- -->
                                            <div class="dropdown-menu text-center" aria-labelledby="dropdownMenuLink">
                                                <a class="dropdown-item" href="{% url 'user-edit-ingredient' item.id %}">Edit</a>
                                                <div class="dropdown-divider"></div>
                                                <a class="dropdown-item" href="{% url 'user-delete-ingredient' item.id %}">Delete</a>
                                            </div>

                                            <!-- ----------- Action Menu Btn---------- -->
                                            <img src={% static "images/threeDot.png" %} alt="threeDot"
                                                class="img-fluid dropdown-toggle" role="button" id="dropdownMenuLink"
                                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            {% endfor %}
                            {% else %}
                                <h3 class="mt-5">No Ingredient Available</h3>
                            {% endif %}
                        </div>
                        </div>
                    <!-- ------------------- Pantry ------------------- -->
                    <!-- ------------ Bootom Navigation Btn ---------------- -->
                    {% include 'bottom_nav.html' %}
                </div>
            </div>
        </div>
    </section>
    <script>
        $(document).ready(function(){
            var type = ['all', 'fridge', 'freezer', 'pantry'];
            var types = ['allIngredients', 'fridgeIngredients', 'freezerIngredients', 'pantryIngredients'];
            var ds = ["Mons", "Tues", "Weds", "Thus", "Fris", "Sats", "Suns"];
            var dsDiv = ["mons", "tues", "weds", "thus", "fris", "sats", "suns"];
            var contentdays = ["MONDAY", "TUESDAY", "WEDNESDAY", "THURSDAY", "FRIDAY", "SATURDAY", "SUNDAY"];
            var mealcontent = ["pills-home-mon", "pills-home-tue", "pills-home-wed", "pills-home-thu", "pills-home-fri", "pills-home-sat", "pills-home-sun"];
            var mealtab = ["pills-home-tab-mon", "pills-home-tab-tue", "pills-home-tab-wed", "pills-home-tab-thu", "pills-home-tab-fri", "pills-home-tab-sat", "pills-home-tab-sun"];
            var breakfirst = ["pills-tab-mon", "pills-tab-tue", "pills-tab-wed", "pills-tab-thu", "pills-tab-fri", "pills-tab-sat", "pills-tab-sun"];
            var meals = ["BREAKFAST", "LUNCH", "DINNER"]
            var realmeal = []
            var divDays = ["div-MONDAY", "div-TUESDAY", "div-WEDNESDAY", "div-THURSDAY", "div-FRIDAY", "div-SATURDAY", "div-SUNDAY"];
            // one of tables will be hidden on default
            $('.place-ingredients').click(function() {
                for (let i = 0; i < type.length; i++) {
                    var s = this.id+"Ingredients";
                    var temp = document.getElementById(types[i]);
                    if (this.id === type[i]){
                        temp.style.setProperty('display', 'block', 'important');
                    } else {
                        temp.style.setProperty('display', 'none', 'important');
                    }
                }
            });
            $('.countCtrl').click(function() {
                $('.countCtrl .count').removeClass('active');
                $(this).children('.count').addClass('active');
            });
        });
    </script>
{% endblock content %}