<!-- This page renders out the shopping list. Items are added to the shopping list when the user add a new recipe but have insufficient ingredients. -->
{% extends 'base.html' %}
{% load static %}
{% block content %}
    <section id="welcomePage" class="containerControl">
        <div class="container " id="screenBg">
            <div class="homepageBody homepageBodyReducePadding text-center">
                <div class="homeText">
                    <img src={% static "images/logoSingle.png" %} alt="logoSingle" class="img-fluid homeLogo">
                    <h3 class="homeBannerTitle text-center pt-4 black">Shopping List</h3>
                    <!-- ------------ Shopping list------------ -->
                    <div class="shopingList px-5" style="height:320px;">
                        <div class="shopingItems text-left px-4 py-5" style="overflow-y:scroll !important; height:100%;">
                        {% if result %}
                            {% for UserIngredient in result %}
                            <div class="dropdown-divider"></div>
                            <div class="singleRadioItem d-flex justify-content-between align-items-center"> 
                                <div class="form-check {{item.ingredient.id}}">
                                    <label class="form-check-label" for="radio1">
                                        {{UserIngredient.ingredient.name}} : {{UserIngredient.quantity}} {{UserIngredient.unit}}
                                    </label>
                                </div>

                                <div class="actionDot {{r.recipe.id}}-{{r.ingredient.id}}">
                                    <div class="form-inline searchBar pt-4" >
                                        <a href="{% url 'user-pantry-shopping-ingredient' UserIngredient.ingredient.id UserIngredient.quantity UserIngredient.unit%}">
                                            <button type="submit" class="btn">Add</button>
                                        </a>
                                    </div>

                                    <!-- ----------- Action Menu Btn---------- -->
                                </div>
                            </div>
                            {% endfor %}
                            <div class="dropdown-divider"></div>
                        {% else %}
                            <h3 class="text-center">Shopping List Empty</h3>
                        {%endif%}
                        </div>
                    </div>

                    <!-- --------------------- Bottom Navigation -------- -->
                    {% include 'bottom_nav.html' %}
                </div>
            </div>
        </div>
    </section>
    <script>
       $('.addToPantry').submit(function(e) {
        e.preventDefault();
        var i = $(this).attr('id');
        var s = '.'+i;
        $(s).remove();
        $(s).hide();
        $(s).addClass("hidden");
        return false;
    });
    </script>
{% endblock content %}