<!-- This page is used to add new recipe to the meal plan. -->
{% extends 'base.html' %}
{% load static %}
{% block content %}
    <section id="welcomePage" class="containerControl">
        <div class="container " id="screenBg">
            <div class="leftarrow breadCrumb px-5 pt-4">
                <a href="{% url 'mypantry' %}" class="text-dark"><img src={% static "images/leftArrow.png" %} alt="leftarrow"
                        class="img-fluid pr-2"> Meal Plan</a>
            </div>
            <div class="homepageBody homepageBodyReducePadding text-center">
                <div class="homeText">
                    <img src={% static "images/logoSingle.png" %} alt="logoSingle" class="img-fluid homeLogo">
                    <h3 class="homeBannerTitle text-center pt-4 black">Add New Recipe</h3>
                    <!-- Middle breakfast, lunch, and dinner navigator -->
                    <div class="dynamicDiv text-center px-5 pt-5" style="height:370px" >
                        <div class="tab-content foodCardOverlayParent" id="pills-tabContent" style="overflow-y:scroll; overflow-x:hidden; min-height:100% !important;  ">
                            <!-- after click right arrow of food show this -->
                            {% for id, option in form.recipe.field.choices %}
                            {% if id %}
                            <div class="toastOverlay" id="overlay{{id}}">
                                <div class="closeBtn text-right p-3">
                                    <img src={% static "images/close.png" %} alt="close" class="img-fluid">
                                </div>
                                <div class="px-4">
                                    <div class="card mb-3 foodCard" style="box-shadow: none;">
                                        <div class="row no-gutters">
                                            <div class="col-md-4 p-3">
                                                {% if option == "French Toast" %}
                                                <img src={% static "images/toast.png" %} class="card-img" alt="food">
                                                {% elif option == "Spinach Pancakes" %}
                                                <img src={% static "images/spinach_pancake.png" %} class="card-img" alt="food">
                                                {% elif option == "Breakfast Quesadillas" %}
                                                <img src={% static "images/quesadillas.png" %} class="card-img" alt="food">
                                                {% elif option == "Grilled Salmon" %}
                                                <img src={% static "images/salmon.png" %} class="card-img" alt="food">
                                                {% elif option == "Vegie Supreme Sandwich" %}
                                                <img src={% static "images/sandwich.png" %} class="card-img" alt="food">
                                                {% elif option == "Cheese and Bacon Frittata" %}
                                                <img src={% static "images/bacon_fritatta.png" %} class="card-img" alt="food">
                                                {% elif option == "Pumpkin Soup" %}
                                                <img src={% static "images/pumpkin_soup.png" %} class="card-img" alt="food">
                                                {% elif option == "Fried Rice" %}
                                                <img src={% static "images/fried_rice.png" %} class="card-img" alt="food">
                                                {% elif option == "Tomato and Celery Pasta" %}
                                                <img src={% static "images/pasta.png" %} class="card-img" alt="food">
                                                {% endif %}
                                            </div>
                                            <div class="col-md-8 ">
                                                <div class="card-body">
                                                    <h5 class="card-title">{{ option }}</h5>
                                                    <p class="card-text"><img src={% static "images/clock.png" %} alt="clock" class="img-fluid">
                                                    {% for item in recipes %}
                                                    {% if item.name == option %}
                                                    {{ item.time }} min
                                                    {% endif %}
                                                    {% endfor %}
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- overlay product detail information -->
                                    <div class="productInfo text-left">
                                        <p class="py-3" style="opacity: 0.8;">Ingredients</p>
                                        <div class="row">
                                            <div class="col-sm-6 text-left">
                                            {% for item in recipe_ingredients %}
                                            {% if item.recipe.name == option %}
                                            <p>{{ item.ingredient.name }}: {{ item.quantity }} {% if item.unit %}{{ item.unit }}{% endif %}</p>
                                            {% endif %}
                                            {% endfor %} 
                                            </div>
                                        </div>
                                        <div class="missingItem">
                                            <p class="py-3" style="opacity: 0.8;">Missing</p>
                                            <div class="missed">
                                                {% for temp in result%}
                                                
                                                {%if temp.recipe.name == option %}
                                                {% for mi in temp.missing%}
                                                
                                                <p>{{mi.ingredient.name}}: {{mi.quantity}} {{mi.unit}}</p>
                                                {%endfor%}
                                                {%endif%}
                                                {%endfor%}

                                            </div>  
                                        </div>
                                        <div class="addRemoveBtnGrp pb-3 pt-3 text-center">
                                            <form method='POST' action=''>
                                                {% csrf_token %}
                                                <input type="hidden" name="recipe" value="{{ id }}">
                                                {{ form.day }}{{ form.meal }}
                                                <button type="submit" class="btn addToMealPlan button px-4 mt-3 py-1"><img
                                                    src={% static "images/plus.png" %} alt="plus" class="img-fluid"> Add to meal
                                                plan</button>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            {% endif %}
                            {% endfor %}
                            {% for id, option in form.recipe.field.choices %}
                                {% if id %}
                                    <div class="card mb-3 foodCard pt-4">
                                        <div class="row no-gutters">
                                            <div class="col-md-4 p-3">
                                                {% if option == "French Toast" %}
                                                <img src={% static "images/toast.png" %} class="card-img" alt="food">
                                                {% elif option == "Spinach Pancakes" %}
                                                <img src={% static "images/spinach_pancake.png" %} class="card-img" alt="food">
                                                {% elif option == "Breakfast Quesadillas" %}
                                                <img src={% static "images/quesadillas.png" %} class="card-img" alt="food">
                                                {% elif option == "Grilled Salmon" %}
                                                <img src={% static "images/salmon.png" %} class="card-img" alt="food">
                                                {% elif option == "Vegie Supreme Sandwich" %}
                                                <img src={% static "images/sandwich.png" %} class="card-img" alt="food">
                                                {% elif option == "Cheese and Bacon Frittata" %}
                                                <img src={% static "images/bacon_fritatta.png" %} class="card-img" alt="food">
                                                {% elif option == "Pumpkin Soup" %}
                                                <img src={% static "images/pumpkin_soup.png" %} class="card-img" alt="food">
                                                {% elif option == "Fried Rice" %}
                                                <img src={% static "images/fried_rice.png" %} class="card-img" alt="food">
                                                {% elif option == "Tomato and Celery Pasta" %}
                                                <img src={% static "images/pasta.png" %} class="card-img" alt="food">
                                                {% endif %}
                                            </div>
                                            <div class="col-md-8 ">
                                                <div class="card-body">
                                                    <div class="row">
                                                        <div class="col-sm-9">
                                                            <h5 class="card-title">{{ option }}</h5>
                                                            <p class="card-text"><img src={% static "images/clock.png" %} alt="clock" class="img-fluid">
                                                            {% for item in recipes %}
                                                            {% if item.name == option %}
                                                            {{ item.time }} min
                                                            {% endif %}
                                                            {% endfor %}
                                                            </p>
                                                        </div>
                                                        <div class="col-sm-3 d-flex align-items-center pt-4">
                                                            <a href="#" class="rightArrow" id="arrow{{id}}">
                                                                <img src={% static "images/rightArrow.png" %} alt="rightArrow"
                                                                    class="img-fluid rightArrow">
                                                            </a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                {% endif %}
                            {% endfor %}
                        </div>
                    </div>
                    <!-- ------------- Bootom Navigation ---------------- -->
                    {% include 'bottom_nav.html' %}
                </div>
            </div>
        </div>
    </section>
        <!-- ----------------- Custome JavaScript ------------------ -->
    <script>
        {% for id, option in form.recipe.field.choices %}
        {% if id %}
        $(document).ready(function(){
            $('#arrow{{id}}').click(function() {
                var h = document.querySelector("#pills-tabContent").scrollTop;
                $('#overlay{{id}}').css('height', '130%');
                var j = document.getElementById('overlay{{id}}');
                j.style.top = h + 'px';
            });
        })
        {% endif %}
        {% endfor %}
        $(document).ready(function(){
            $('.closeBtn').click(function() {
                $('.toastOverlay').css('height', '0');
            });
        })
    </script>
{% endblock content %}