<!-- This page confirms the deletion of a recipe from the user's meal plan. -->
{% extends 'base.html' %}
{% load static %}
{% block content %}
    <section id="welcomePage" class="containerControl">
        <div class="container " id="screenBg">
            <div class="leftarrow breadCrumb px-5 pt-4">
                <a href="{% url 'pantry' %}" class="text-dark"><img src={% static "images/leftArrow.png" %} alt="leftarrow"
                        class="img-fluid pr-2"> Pantry</a>
            </div>
            <div class="homepageBody homepageBodyReducePadding text-center">
                <div class="homeText">
                    <img src={% static "images/logoSingle.png" %} alt="logoSingle" class="img-fluid homeLogo">
                    <h3 class="homeBannerTitle text-center pt-4 black">Hello {{ request.user }}, Let’s cook!</h3>
                    <form method='POST' action=''>
                        {% csrf_token %}
                        <h3>Are you sure you want to delete this Recipe "{{ recipe.recipe.name }}"?</h3>
                        <div class="searchBar">
                            <a>
                                <button type="submit" class="btn" style="background-color: coral;">
                                    Delete</button>
                            </a>
                        </div>
                    </form>
                    <!-- ------------------------- Bootom Navigation -------------- -->
                    {% include 'bottom_nav.html' %}
                </div>
            </div>
        </div>
    </section>
{% endblock content %}