{% extends 'base.html' %}
{% load static %}

{% block content %}
    {% comment %} <a href="{% url 'mypantry' %}">Go Back</a>
    <form method='POST' action=''>
        {% csrf_token %}
        <p>Are you sure you want to delete this Recipe "{{ recipe.recipe.name }}"?</p>
        <input type="submit" value='Delete'>
    </form> {% endcomment %}

    <section id="welcomePage" class="containerControl">
        <div class="container " id="screenBg">
            <div class="homepageBody homepageBodyReducePadding text-center">
                <div class="homeText">
                    <img src={% static "images/logoSingle.png" %} alt="logoSingle" class="img-fluid homeLogo">
                    <h3 class="homeBannerTitle text-center pt-4 black">Hello {{ request.user }}, Let’s cook!</h3>

                    <a href="{% url 'mypantry' %}">Go Back</a>
                    <form method='POST' action=''>
                        {% csrf_token %}
                        <h3>Are you sure you want to delete this Recipe "{{ recipe.recipe.name }}"?</h3>
                        <input type="submit" value='Delete'>
                    </form>
                    <!-- ------------------------- Bootom Navigation -------------- -->
                    {% include 'bottom_nav.html' %}
                </div>
            </div>
        </div>
    </section>
{% endblock content %}