<!-- This page shows the detail of a recipe, including ingredients and instructions. -->
{% extends 'base.html' %}
{% load static %}
{% block content %}
    <section id="welcomePage" class="containerControl">
        <div class="container " id="screenBg">
            <div class="leftarrow breadCrumb px-5 pt-4">
                <a href={% url 'mypantry' %} class="text-dark"><img src={% static "images/leftArrow.png" %} alt="leftarrow"
                        class="img-fluid pr-2"> Meal Plan</a>
            </div>
            <div class="homepageBody homepageBodyReducePadding text-center">
                <div class="homeText">
                    <img src={% static "images/logoSingle.png" %} alt="logoSingle" class="img-fluid homeLogo">

                    <div class="foodReviewControl px-5 mt-5">
                        <div class="dynamicDiv text-center px-4 pt-5 foodReview">

                            <!-- --------------- Selected food --------------- -->
                            <div class="card mb-3 foodCard" style="box-shadow: none;">
                                <div class="row no-gutters">
                                    <div class="col-md-4 p-3">
                                        {% if recipe.recipe.name == "French Toast" %}
                                        <img src={% static "images/toast.png" %} class="card-img" alt="food">
                                        {% elif recipe.recipe.name == "Spinach Pancakes" %}
                                        <img src={% static "images/spinach_pancake.png" %} class="card-img" alt="food">
                                        {% elif recipe.recipe.name == "Breakfast Quesadillas" %}
                                        <img src={% static "images/quesadillas.png" %} class="card-img" alt="food">
                                        {% elif recipe.recipe.name == "Grilled Salmon" %}
                                        <img src={% static "images/salmon.png" %} class="card-img" alt="food">
                                        {% elif recipe.recipe.name == "Vegie Supreme Sandwich" %}
                                        <img src={% static "images/sandwich.png" %} class="card-img" alt="food">
                                        {% elif recipe.recipe.name == "Cheese and Bacon Frittata" %}
                                        <img src={% static "images/bacon_fritatta.png" %} class="card-img" alt="food">
                                        {% elif recipe.recipe.name == "Pumpkin Soup" %}
                                        <img src={% static "images/pumpkin_soup.png" %} class="card-img" alt="food">
                                        {% elif recipe.recipe.name == "Fried Rice" %}
                                        <img src={% static "images/fried_rice.png" %} class="card-img" alt="food">
                                        {% elif recipe.recipe.name == "Tomato and Celery Pasta" %}
                                        <img src={% static "images/pasta.png" %} class="card-img" alt="food">
                                        {% endif %}
                                    </div>
                                    <div class="col-md-8 ">
                                        <div class="card-body text-left">
                                            <div class="titleAndBtn actionDot">
                                                <h5 class="card-title">{{ recipe.recipe.name }} </h5>
                                            </div>
                                            <p class="card-text mt-4"><img src={% static "images/clock.png" %} alt="clock"
                                                    class="img-fluid"> {{ recipe.recipe.time }} min</p>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <!-- -------------- Swapping Menu ---------------- -->
                            <ul class="nav nav-pills mb-3 mr-auto pl-3" id="pills-tab" role="tablist">
                                <li class="nav-item">
                                    <a class="nav-link active" id="pills-home-tab" data-toggle="pill" href="#pills-home"
                                        role="tab" aria-controls="pills-home" aria-selected="true">Ingredients</a>
                                </li>
                                <li class="nav-item pl-2">
                                    <a class="nav-link pl-3" id="pills-profile-tab" data-toggle="pill"
                                        href="#pills-profile" role="tab" aria-controls="pills-profile"
                                        aria-selected="false">Instructions</a>
                                </li>
                            </ul>

                            <!-- ---------- Details of Menu Action -------- -->
                            <div class="tab-content detailTabContent" id="pills-tabContent">
                                <div class="tab-pane fade show active" id="pills-home" role="tabpanel"
                                    aria-labelledby="pills-home-tab">
                                    {% for item in recipe_ingredients %}
                                    {% if item.recipe.name == recipe.recipe.name %}
                                    <p>{{ item.ingredient.name }}: {{ item.quantity }} {% if item.unit %}{{ item.unit }}{% endif %}</p>
                                    {% endif %}
                                    {% endfor %}
                                    <div class="missingItem">
                                        <p class="py-3" style="opacity: 0.8;">Missing</p>
                                        <div class="missed">
                                            {% for temp in result%}
                                            {%if temp.recipe.name == recipe.recipe.name %}
                                            {% for mi in temp.missing%}
                                            <p style="color:#F40000">{{mi.ingredient.name}}: {{mi.quantity}} {{mi.unit}}</p>
                                            {%endfor%}
                                            {%endif%}
                                            {%endfor%}
                                        </div>
                                    </div>
                                </div>
                                <div class="tab-pane instractions fade d-flex justify-content-center align-items-center"
                                    id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab">
                                    <div class="text-left">
                                        <p style="white-space: pre-wrap;">{{ recipe.recipe.instructions }}</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {%for key,value in show.items %}
                        {%if key == recipe.recipe.name%}
                        {%if value%}
                        {%else%}
                        <div class="mt-5">
                            <a href="">
                                <a href="{% url 'user-complete-recipe' recipe.id %}" class="btn btn-sm text-light" style="font-size: 1.5rem;
                                padding: 1rem 3rem;
                                border-radius: 1rem;
                                background: #F7B4FF;
                                ">Complete</a>
                            </a>
                        </div>
                        {%endif%}
                        {%endif%}
                        {%endfor%}
                    </div>
                    <!-- ------------------------- Bootom Navigation -------------- -->
                    {% include 'bottom_nav.html' %}
                </div>
            </div>
        </div>
    </section>
{% endblock content %}
