{% extends 'base.html' %}
{% load static %}

{% block content %}
    {% comment %} <h3>New Ingredient</h3>
    <a href="{% url 'pantry' %}">Go Back</a>
    <form method="POST" action="">
        {% csrf_token %}
        {{form.as_p}}
        <input type='submit' value='Submit'>
    </form> {% endcomment %}

    {% comment %} <section id="welcomePage" class="containerControl">
        <div class="container " id="screenBg">
            <div class="homepageBody homepageBodyReducePadding text-center">
                <div class="homeText">
                    <img src={% static "images/logoSingle.png" %} alt="logoSingle" class="img-fluid homeLogo">
                    <h3 class="homeBannerTitle text-center pt-4 black">Pantry</h3>

                    <a href="{% url 'pantry' %}">Go Back</a>
                    <form method='POST' action=''>
                        {% csrf_token %}
                        <h3>New Ingredient</h3>
                        {{form.as_p}}
                        <input type="submit" value='Confirm'>
                    </form>
                    <!-- ------------------------- Bootom Navigation -------------- -->
                    {% include 'bottom_nav.html' %}
                </div>
            </div>
        </div>
    </section> {% endcomment %}


    <section id="welcomePage" class="containerControl">
        <div class="container " id="screenBg">
            <div class="leftarrow breadCrumb px-5 pt-4">
                <a href="{% url 'pantry' %}" class="text-dark"><img src={% static "images/leftArrow.png" %} alt="leftarrow"
                        class="img-fluid pr-2"> Pantry</a>
            </div>
            <div class="homepageBody homepageBodyReducePadding text-center">
                <div class="homeText">
                    <img src={% static "images/logoSingle.png" %} alt="logoSingle" class="img-fluid homeLogo">
                    <h3 class="homeBannerTitle text-center pt-4 black">Add item to Pantry</h3>

                    <!-- --------------- Add an Item Form Start---------------- -->
                    <form method='POST' action=''>
                        {% csrf_token %}
                        <div class="addAnItem signInForm px-5">
                            <div class="addItemForm text-center pt-2">
                                

                                <div class="form-group">
                                    <label>Choose an Item: {{ form.ingredient }}</label>
                                </div>

                                <div class="form-group mt-5">
                                    <label><input type="text" name="quantity" class="form-control" id="userNamee" placeholder="Enter Quantity: "></label>
                                    <p id="userNameHelp" class="form-text pt-2 text-center ">eg. 100 G</p>
                                </div>

                                <div class="form-group mt-4 pb-4">
                                    <label><input type="text" name="expiry_date" class="form-control" id="userNamee"
                                        placeholder="Enter expiry date"></label>
                                    <p id="userNameHelp" class="form-text pt-2 text-center ">DD/MM/YYYY</p>
                                </div>

                                

                            </div>
                            <div class="text-center"> 
                                <button type="submit" class="btn button mt-3">Add to Pantry</button>
                            </div>
                                
                        </div>
                    </form>
                    <!-- --------------- Add an Item Form End---------------- -->

                    <!-- --------------------- Bottom Navigation -------- -->
                    {% include 'bottom_nav.html' %}
                </div>
            </div>
        </div>
    </section>
{% endblock content %}