{% extends 'base.html' %}
{% load static %}

{% block content %}
    {% comment %} <h3>New Recipe</h3>
    <a href="{% url 'mypantry' %}">Go Back</a>
    <form method="POST" action="">
        {% csrf_token %}
        {{form.as_p}}
        <input type='submit' value='Submit'>
    </form> {% endcomment %}

    {% comment %} <section id="welcomePage" class="containerControl">
        <div class="container " id="screenBg">
            <div class="homepageBody homepageBodyReducePadding text-center">
                <div class="homeText">
                    <img src={% static "images/logoSingle.png" %} alt="logoSingle" class="img-fluid homeLogo">
                    <h3 class="homeBannerTitle text-center pt-4 black">Hello {{ request.user }}, Let’s cook!</h3>

                    <a href="{% url 'mypantry' %}">Go Back</a>
                    <form method='POST' action=''>
                        {% csrf_token %}
                        <h3>Pick a New Recipe</h3>
                        {{form.as_p}}
                        <input type="submit" value='Confirm'>
                    </form>
                    <!-- ------------------------- Bootom Navigation -------------- -->
                    {% include 'bottom_nav.html' %}
                </div>
            </div>
        </div>
    </section> {% endcomment %}
    <section id="welcomePage" class="containerControl">
        <div class="container " id="screenBg">
            <div class="leftarrow breadCrumb px-5 pt-4">
                <a href="{% url 'mypantry' %}" class="text-dark"><img src={% static "images/leftArrow.png" %} alt="leftarrow"
                        class="img-fluid pr-2"> Meal Plan</a>
            </div>

            <div class="homepageBody homepageBodyReducePadding text-center">
                <div class="homeText">
                    <img src={% static "images/logoSingle.png" %} alt="logoSingle" class="img-fluid homeLogo">
                    <h3 class="homeBannerTitle text-center pt-4 black">Add New Recipe</h3>
                    <!-- Middle breakfast, lunch, and dinner navigator -->
                    <div class="dynamicDiv text-center px-5 pt-5">

                        <div class="tab-content foodCardOverlayParent" id="pills-tabContent">
                            <!-- after click right arrow of food show this -->
                            {% for id, option in form.recipe.field.choices %}
                            {% if id %}
                            <div class="toastOverlay" id="overlay{{id}}">

                                {% comment %} <!-- ------------ Mising Item Overlay start-------- -->
                                <div class="misingItemOverlay">
                                    <div class="closeInnterOvelay text-right">
                                        <img src={% static "images/close.png" %} alt="close"
                                            class="img-fluid closeMissingItem pr-2 pt-2">
                                    </div>
                                    <h1>Missing items have been added to the list!</h1>
                                </div>
                                <!-- ------------ Mising Item Overlay End-------- -->

                                <!-- ------------ Mising Item Overlay start-------- -->
                                <div class="addToMealPlanOverlay">
                                    <div class="closeInnterOvelay2 text-right">
                                        <img src={% static "images/close.png" %} alt="close"
                                            class="img-fluid closeMissingItem2 pr-2 pt-2">
                                    </div>
                                    <h1>Recipe has been added to the meal plan!</h1>
                                </div>
                                <!-- ------------ Mising Item Overlay End-------- --> {% endcomment %}

                                <div class="closeBtn text-right p-3">
                                    <img src={% static "images/close.png" %} alt="close" class="img-fluid">
                                </div>

                                <div class="px-4">
                                    <div class="card mb-3 foodCard" style="box-shadow: none;">
                                        <div class="row no-gutters">
                                            <div class="col-md-4 p-3">
                                                <img src={% static "images/food-1.png" %} class="card-img" alt="food">
                                            </div>
                                            <div class="col-md-8 ">
                                                <div class="card-body">
                                                    <h5 class="card-title">{{ option }}</h5>
                                                    <p class="card-text"><img src={% static "images/clock.png" %} alt="clock" class="img-fluid">
                                                    {% for item in recipes %}
                                                    {% if item.name == option %}
                                                    {{ item.time }} min
                                                    {% endif %}
                                                    {% endfor %}
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <!-- overlay product detail information -->
                                    <div class="productInfo text-left">
                                        <p class="py-3" style="opacity: 0.8;">Ingredients</p>
                                        <div class="row">
                                            <div class="col-sm-6 text-left">
                                            {% for item in recipe_ingredients %}
                                            {% if item.recipe.name == option %}
                                            <p>{{ item.ingredient.name }}: {{ item.quantity }} {% if item.unit %}{{ item.unit }}{% endif %}</p>
                                            {% endif %}
                                            {% endfor %} 
                                            </div>
                                        </div>

                                        <div class="missingItem">
                                            <p class="py-3" style="opacity: 0.8;">Missing</p>
                                            <div class="missed">
                                                <p>Maple syrup</p>
                                            </div>  
                                            {% comment %} <form method='POST' action=''>
                                                {% csrf_token %}
                                                {{ form.as_p }}
                                                <input type="submit" value='Confirm'>
                                            </form> {% endcomment %}
                                        </div>

                                        <div class="addRemoveBtnGrp pb-3 pt-3 text-center">
                                            {% comment %} <button class="btn addToMissingList button px-3 py-1"><img
                                                    src={% static "images/plus.png" %} alt="plus" class="img-fluid"> Add missing to
                                                list</button>
                                            <button type="submit" class="btn addToMealPlan button px-4 mt-3 py-1"><img
                                                    src={% static "images/plus.png" %} alt="plus" class="img-fluid"> Add to meal
                                                plan</button> {% endcomment %}
                                            <form method='POST' action=''>
                                                {% csrf_token %}
                                                <input type="hidden" name="recipe" value="{{ id }}">
                                                {% comment %}<input type="hidden" name="meal" value="BREAKFAST"> {% endcomment %}
                                                {{ form.day }}{{ form.meal }}
                                                
                                                <button type="submit" class="btn addToMealPlan button px-4 mt-3 py-1"><img
                                                    src={% static "images/plus.png" %} alt="plus" class="img-fluid"> Add to meal
                                                plan</button>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            {% endif %}
                            {% endfor %}
                            {% for id, option in form.recipe.field.choices %}
                                {% if id %}
                                    <div class="card mb-3 foodCard pt-4">
                                        <div class="row no-gutters">
                                            <div class="col-md-4 p-3">
                                                <img src={% static "images/food-1.png" %} class="card-img" alt="food">
                                            </div>
                                            <div class="col-md-8 ">
                                                <div class="card-body">
                                                    <div class="row">
                                                        <div class="col-sm-9">
                                                            <h5 class="card-title">{{ option }}</h5>
                                                            <p class="card-text"><img src={% static "images/clock.png" %} alt="clock" class="img-fluid">
                                                            {% for item in recipes %}
                                                            {% if item.name == option %}
                                                            {{ item.time }} min
                                                            {% endif %}
                                                            {% endfor %}
                                                            </p>
                                                        </div>
                                                        <div class="col-sm-3 d-flex align-items-center pt-4">
                                                            <a href="#" id="arrow{{id}}">
                                                                <img src={% static "images/rightArrow.png" %} alt="rightArrow"
                                                                    class="img-fluid rightArrow">
                                                            </a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                {% endif %}
                            {% endfor %}
                        </div>
                    </div>
                    <!-- ------------- Bootom Navigation ---------------- -->
                    {% include 'bottom_nav.html' %}
                </div>
            </div>
        </div>
    </section>
        <!-- ----------------- Custome JavaScript ------------------ -->
    <script>
        {% comment %} // --------- Get All Selectiors -------
        let toastOverlay = document.querySelector('.toastOverlay');
        let rightArrow = document.querySelectorAll('.rightArrow');
        let closeBtn = document.querySelector('.closeBtn');
        let addToMissingList = document.querySelector('.addToMissingList');
        let addToMealPlan = document.querySelector('.addToMealPlan');
        let closeMissingItem = document.querySelector('.closeMissingItem');
        let misingItemOverlay = document.querySelector('.misingItemOverlay');
        let addToMealPlanOverlay = document.querySelector('.addToMealPlanOverlay');
        let closeMissingItem2 = document.querySelector('.closeMissingItem2');

        // ------------ Add multiple event to food item -------
        [...rightArrow].forEach(arrow => {
            arrow.addEventListener('click', () => {
                
                toastOverlay.style.height = '215%';
            })
        })
        // ---------------- Handle ToastOverly -----------
        closeBtn.addEventListener('click', () => {
            toastOverlay.style.height = '0';
        })
        closeMissingItem.addEventListener('click', () => {
            misingItemOverlay.style.height = '0';
        })

        // -------------Handle MissignList Btn ----------
        addToMissingList.addEventListener('click', () => {
            addToMealPlanOverlay.style.height = '0';
            misingItemOverlay.style.height = 'auto';
        })
        // -------------Handle add to plan Btn ----------
        closeMissingItem2.addEventListener('click', () => {
            addToMealPlanOverlay.style.height = '0';
        })
        addToMealPlan.addEventListener('click', () => {
            misingItemOverlay.style.height = '0';
            addToMealPlanOverlay.style.height = 'auto';
        }) {% endcomment %}
        {% for id, option in form.recipe.field.choices %}
        {% if id %}
        $(document).ready(function(){
            $('#arrow{{id}}').click(function() {
                $('#overlay{{id}}').css('height', '215%');
            });
        })
        {% endif %}
        {% endfor %}
        $(document).ready(function(){
            $('.closeBtn').click(function() {
                $('.toastOverlay').css('height', '0');
            });
        })
    </script>
{% endblock content %}