<!-- This page is the landing icon page. Users will be redirected to main page or log in page after 3 sec. -->
{% extends 'base.html' %}
{% load static %}

{% block content %}
    <section id="welcomePage" class="containerControl">
        <div class="container">
            <div class="homepageBody homePageBodyMain d-flex justify-content-center align-items-center">
                <div class="homeText">
                    <img src={% static "images/logo.png" %} alt="logo" class="img-fluid homeLogo">
                    <h3 class="homeBannerTitle text-center pt-4">Let’s cook today!</h3>
                </div>
            </div>
    </section>
    <script>
    // redirect to mypantry after 3 seconds
        window.setTimeout(function() {
            window.location.href = 'mypantry';
        }, 3000);
    </script>
{% endblock content %}